@import "tailwindcss";

html,
body {
  background-color: white;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Cafe24OnePrettyNight';
}

textarea {
  resize: none;
}

@font-face {
  font-family: 'Cafe24OnePrettyNight';
  src: url('./fonts/Cafe24Oneprettynight/Cafe24Oneprettynight.ttf') format('ttf');
}